<div class="container">
    {{#if logged_in}}
    <h1 class="home-header">Hello {{name}}</h1>
    {{else}}
    <h1 class="text-center"><a class="home-links" href="/login">Login</a> or <a class="home-links" href="/signup">sign up</a> today!</h1>
    {{/if}}
</div>