<div>
  <section>

    <div class="signin">

      <div class="content">

        <h2>Log In</h2>

        <form class="form" id="login-form">

          <div class="inputBox">

            <input id="login-email" type="text" required> <i>Email</i>

          </div>

          <div class="inputBox">

            <input id="login-password" type="password" required> <i>Password</i>

          </div>

          <button id="login-btn" type="submit" class="btn">Log In</button>

          <a href="/signup">Sign Up Instead</a>

        </form>

      </div>

    </div>

  </section> <!-- partial -->
</div>

<script src="js/login.js"></script>