<div>
    <section>
    
        <div class="signin">

            <div class="content">

                <h2>Sign Up</h2>

                <form class="form" id="signup-form">

                    <div class="inputBox">

                        <input id="signup-name" type="text" required> <i>Name</i>

                    </div>

                    <div class="inputBox">

                        <input id="signup-email" type="text" required> <i>Email</i>

                    </div>

                    <div class="inputBox">

                        <input id="signup-password" type="password" required> <i>Password</i>

                    </div>


                    <button id="signup-btn" type="submit" class="btn">Signup</button>

                    <a href="/login">Log In Instead</a>
                </form>

            </div>

        </div>

    </section> <!-- partial -->

</div>

<script src="/js/signup.js"></script>